@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .navBtn{
        @apply hover:scale-125 transition-all duration-150 ease-out
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search:focus{
    outline:none
}
.paper__icon{
    transform: rotate(-45deg);
}
.navBtn:hover{
     transform: scale(1.2);
     transition: all 250 ease-out;
}